
<div class="example-container">
    <h2>To do</h2>
  
    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="todo"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of todo" cdkDrag>
        <table>
         <tr><td>{{item.candidateId}}</td></tr>
          <tr><td>{{item.candidateName}}</td></tr>
          <tr><td>Loc- {{item.location}}</td></tr>
          <tr><td>LWD- {{item.expectedLwd}}</td></tr>
          <tr><td>Rel Exp- {{item.relevantExperiance}}</td></tr>

        </table>
      </div>
    </div>
  </div>
  
  <div class="example-container">
    <h2>Done</h2>
  
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
      <div class="example-box" *ngFor="let item of done" cdkDrag>
        <table>
          <tr><td>{{item.candidateId}}</td></tr>
           <tr><td>{{item.candidateName}}</td></tr>
           <tr><td>Loc- {{item.location}}</td></tr>
           <tr><td>LWD- {{item.expectedLwd}}</td></tr>
           <tr><td>Rel Exp- {{item.relevantExperiance}}</td></tr>
 
         </table>
      </div>
    </div>
  </div>


